@font-face {
    font-family: phosphateSolid;
    src: url("../fonts/PhosphateFont/PhosphateRRSolid/PhosphateRR Solid.ttf");
}

a{
    text-decoration: none;
    color: black;
}

.header{
    font-family: phosphateSolid;
}

.headerDiv{
    display: inline-flex;
    width: 100.8%;
    height: 160px;
    background-image: linear-gradient(to left,rgb(244, 43, 43), #fff, blue);
    margin-left: -8px;
    padding: 0px;
}

.headerDivHome{
    display: inline-flex;
    width: 100.8%;
    height: 160px;
    background-image: linear-gradient(to left, #fbff65,#1bec1b ,#4848ff );
    margin-left: -8px;
    padding: 0px;
}


.headerA{
    color: black;
    text-decoration: none;
}

#homeH1{
    font-size: 50px;
}

#infoH1{
    font-size: 50px;
}

#quizH1{
    font-size: 50px;
}

.homeH {
    font-size: 50px;
    font-family: phosphateSolid;
}

.homeH_info_page{
    font-size: 50px;
    font-family: phosphateSolid;

}

.button{
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    height: 100px;
    margin-top: 30px;
    border-radius: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 100px;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

#homebutton{
    background-color: rgb(10, 45, 244);
    margin-left: 400px;
}

#infobutton{
    background-color: #fff;
}

#quizbutton{
    background-color: rgb(244, 22, 10);
}

#homebuttonHome{
    background-color: #1ab01a;
    margin-left: 400px;
}

#infobuttonHome{
    background-color: #fbff65;
}

#quizbuttonHome{
    background-color: blue;
}

#footballLogo{
    width: 100px;
    margin-top: 20px;
    margin-left: 280px;
}

.main{
    display: inline-flex;
}

#mainH{
    margin-left: 50px;
    font-size: 70px;
}

#welkomH{
    font-family: phosphateSolid;
}

.mainP{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
}

.mainText{
    font-size: 30px;
    margin-left: 300px;
}

.quizVlak{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
    width: 400px;
    height: 370px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
}


.quizVlak_info_page{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
    width: 800px;
    height: 740px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
}

.speelH{
    font-family: phosphateSolid;
    font-size: 40px;
}

.quizFlex{
    width: 340px;
    height: 226.233px;
    margin-top: 30px;
}

.quizFlex_info_page{
    width: 680px;
    height: 452.466px;
    margin-top: 70px;
}

.speelH_info_page{
    font-family: phosphateSolid;
    font-size: 50px;
}


.buttonSpeel_frankrijk_info_page{
    width: 400px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-top: -30px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
}

.buttonSpeel_frankrijk_info_page:hover{
    background-color: blue;
    transform: scale(1.05);
}

.info_page_flex{
    display: inline-flex;
}

.info_page_p{
    max-width: 900px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}

.info_page_div{
    margin-top: 20px;
}

.buttonSpeel_frankrijk{
    width: 200px;
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    height: 100px;
    margin-top: -15px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
}

.buttonSpeel_nederland{
    width: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center; 
    height: 100px;
    margin-top: -15px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
}

.buttonSpeel_marokko{
    width: 200px;
    display: inline-flex; 
    justify-content: center;
    align-items: center; 
    height: 100px;
    margin-top: -15px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
}

.buttonSpeel_frankrijk:hover{
    background-color: blue;
    transform: scale(1.05);
}

.buttonSpeel_frankrijk a:hover{
    color: #fff;
    transform: scale(1.05);
}

.buttonSpeel_nederland:hover{
    background-color: #f6910d;
    transform: scale(1.05);
}

.buttonSpeel_marokko:hover{
    background-color: red;
}

.buttonSpeel_marokko a:hover{
    color: #fff;
}

#quizzen{
    display: inline-flex;
    margin-left: 200px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    animation: fadeIn 0.5s ease forwards;
  }
  
  .dropdown-content a {
    font-size: 30px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

/* Voeg animatie toe aan de knoppen */
.dropdown:hover .dropdown-content {
    display: block;
    animation: slideIn 0.5s ease forwards;
}

/* Definieer de animaties */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-10px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
  
  .dropdown-content a:hover {
    background-color: #ddd;
    border-radius: 25px;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}

footer{
    width: 100.8%;
    height: 130px;
    background-color: #000;
    margin-left: -8px;
    margin-bottom: -10px;
    padding-top: 1px;
    text-align: center;
}

.footerP{
    color: #fff ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.footerA{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 50px;
}

.footerA:hover{
    color: rgb(22, 143, 250);
}

.footerA_div{
    display: inline-flex;
    margin-left: 50px;
}

#kennisP{
    font-family: phosphateSolid;
    font-size: 50px;
    margin-left: 50px;
}

#tussenPagina{
    display: inline-flex;
}

.quizVlak_tussenPagina{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 80px;
    margin-bottom: 50px;
    width: 800px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    text-align: center;
}

.quizVlak_tussenPagina_vlak{
    display: inline-flex;
    flex-direction: column;
}

.tussen_pagina_frankrijk_img{
    width: 720px;
    margin-top: 30px;
    border-radius: 25px;
}

#samenvP{
    max-width: 800px;
    font-size: 20px;
    margin-left: 50px;
}

#infoH{
    margin-left: 50px;
}

.buttonSpeel_frankrijk_tussenPagina{
    width: 720px;
    margin-top: -15px;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
}

.buttonSpeel_frankrijk_tussenPagina:hover{
    background-color: blue;
    transform: scale(1.05);
}

.buttonSpeel_frankrijk_tussenPagina a:hover{
    color: #fff;
    transform: scale(1.05);
}

.quiz{
    border-style: solid;
    width: 90%;
    max-width: 600px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 30px;
}

.quizInfo{
    border-style: solid;
    width: 90%;
    max-width: 600px;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 30px;
    display: none;
}

#quizVragenFlex{
    display: inline-flex;
    margin-bottom: 35px;
}

#info{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#quizH{
    margin-left: 50px;
}

#question{
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #222;
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}

.btn:disabled{
    cursor: no-drop;
}

#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease;
}

#next-btn:hover{
    transform: scale(1.05);
}

.correct{
    background: #9aeabc;
}

.incorrect{
    background: #ff9393;
}

#next-btn{
    font-size: 20px;
}

.score-table {
    border-collapse: collapse; /* Voeg een rand toe tussen de celinhoud */
}

.score-table td {
    padding: 10px; /* Voeg ruimte toe rond de inhoud van elke cel */
}

.correct-answer {
    color: green; /* Maak de cijfers van de goede antwoorden groen */
}

.incorrect-answer {
    color: red; /* Maak de cijfers van de foute antwoorden rood */
}

.play-again-button{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 300px;
    height: 50px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
}

.play-again-button:hover{
    transform: scale(1.05);
}

.open-question-input{
    width: 400px;
    height: 200px;
    font-size: 25px;
}

.correct-answer {
    border: 2px solid green;
}

.incorrect-answer {
    border: 2px solid red;
}

#thumbsUp{
    width: 250px;
    height: 250px;
}

#thumbsDown{
    width: 150px;
}